body {
  margin: 0 auto;
  max-width: 1080px;
  font-family: 'Roboto Condensed', sans-serif;
}
section {
  margin-top: 3%;
}
.about_me {
  width: 73%;
  float: left;
}
.about_me h1 {
  font-size: 50px;
  margin: 0px;
}
.personality_type {
  width: 22%;
  float: left;
  margin-left: 5%;
  background-color: #E74C3C;
  color: white;
}
.personality_type * {
  margin-left: 5%;
}
.score {
  clear: both;
  text-align: center;
  padding-top: 40px;
}
figure {
  max-width: 45%;
  float: left;
  margin: 0% 5% 0% 0%;
}
figure img {
  max-width: 100%;
}
figcaption {
  text-align: center;
}
.score h1 {
  font-size: 40px;
  display: inline;
}
.final_score {
  font-size: 25px;
}
