body {
  margin: 0 auto;
  max-width: 1080px;
  font-family: 'Roboto Condensed', sans-serif;
}
section {
  margin-top: 3%;
}
.about_me {
  width: 100%;
  height: 378px;
}
.about_me h1 {
  font-size: 50px;
  margin: 0px;
}
.about_me h1 h3 p {
  display: inline-block;
  max-width: 50%;
}
.about_me article {
  width: 73%;
  float: left;
}
figure {
  max-width: 45%;
  float: left;
  margin: 0% 5% 0% 0%;
}
figure img {
  max-width: 100%;
}
figcaption {
  text-align: center;
}
.personality_type {
  width: 22%;
  float: left;
  margin-left: 5%;
  background-color: #E74C3C;
  color: white;
}
.personality_type * {
  margin-left: 5%;
}
.resume {
  width: 100%;
  height: 750px;
}
.resume h2 {
  font-size: 50px;
  margin: 0px;
}
.experience {
  width: 65%;
  float: left;
}
.resume aside {
  width: 30%;
  float: left;
  height: 450px;
}
.education {
  margin-right: 5%;
  background-color: #2C3E50;
  color: white;
  clear: both;
  height: 210px;
}
.education h4 {
  padding-top: 5%;
  margin-top: 0;
}
.education ul {
  padding-left: 10px;
}
.education * {
  margin-left: 5%;
}
.score {
  margin-right: 5%;
  background-color: #ECF0F1;
  height: 200px;
  margin-top: 50px;
}
.score h4 {
  padding-top: 5%;
  margin-top: 0;
}
.score * {
  margin-left: 5%;
  text-align: center;
}
.final_score {
  font-size: 25px;
}

/*Add responsive styles*/
@media (max-width: 720px) {

}
